spring:
  datasource:
    url: jdbc:postgresql://ep-fancy-bush-adgmhj9c-pooler.c-2.us-east-1.aws.neon.tech/neondb2?sslmode=require&channelBinding=require
    username: neondb_owner
    password: npg_bghzAy0B3DUF
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  
  jackson:
    serialization:
      write-dates-as-timestamps: false
    date-format: yyyy-MM-dd

server:
  port: 8080

logging:
  level:
    com.dragonball: DEBUG
    org.hibernate.SQL: DEBUG